@import url('https://fonts.googleapis.com/css2?family=Bayon&display=swap');

.card {
    display: inline-block;
    width: 3.3em;
    height: 4.6em;
    border: 0.05em solid #666;
    border-radius: .3em;
    -moz-border-radius: .3em;
    -webkit-border-radius: .3em;
    -khtml-border-radius: .3em;
    padding: .25em;
    margin: 0;
    text-align: center;
    font-size: 1.2em;
    font-weight: normal;
    font-family: Bayon, sans-serif;
    position: relative;
    background-color: #fff;
    -moz-box-shadow: .2em .2em .5em #3339;
    -webkit-box-shadow: .2em .2em .5em #3339;
    box-shadow: .2em .2em .5em #3339;
}

strong .card {
    bottom: 1em;
}

.card.back {
    text-indent: -4000px;
    background-color: #ccc;
    background-repeat: repeat;
    background-image: url(data:image/gif;base64,R0lGODlhJAAkAJEAAOjFsezdztOKbL5QKCH5BAAAAAAALAAAAAAkACQAAAL/HC4RAqm/mmLHyHmAbczB11Ea8ombJKSgKo6Z17pXFznmS1JptiX0z3vVhpEKDoUIkoa0olGIUeZUk1RI6Yn2mh/FDAt6frOrRRTqXPpsVLYugzxaVy+YcBdnoWPZOT0E4eckQtZFZBjWoHixQFWl6Nhol6R2p1Okt5TGaEWZA6fjiMdhZgPHeWrTWGVq+jTZg1HYyAEWKLYzmyiGKoUimilz+YYryyTlg5RcDJSAbNx0Q7lMcbIGEyzTK8zVdfVaImzs/QV+prYqWWW2ObkoOApM/Em/rUlIm7fijs8a2EEKEaZ3AsMUgneEU6RcpJbZ27aGHkAO2Ors8xQH1IR0Bn5YnOtVAAA7); /* image is "Pattern 069" from http://www.squidfingers.com/patterns/ */
    background-position:  2.5px 0, 2.5px 0, 0 0, 0 0;
    background-size: 5px 5px;
    background-image:  linear-gradient(135deg, #f74545 25%, transparent 25%), linear-gradient(225deg, #f74545 25%, transparent 25%), linear-gradient(45deg, #f74545 25%, transparent 25%), linear-gradient(315deg, #f74545 25%, #ffffff 25%);
}

.card.diams {
    color: #f00 !important;
}
.card.hearts {
    color: #f00 !important;
}
.card.spades {
    color: #000 !important;
}
.card.clubs {
    color: #000 !important;
}

.card .rank,
.card .suit {
    width: min-content;
    line-height: 0.9em;
}

.card div.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 0;
    margin-left: 0.3em;
    margin-bottom: 0.5em;
}

.card:after{
    position: absolute;
    font-family: Arial, sans-serif;
    font-size: 80px;
    height: 60px;
    display: flex;
    align-items: center;
    right: 1px;
    bottom: 2px;
}
.card.diams:after{
    content: "\2666";
}
.card.hearts:after{
    content: "\2665";
}
.card.spades:after{
    content: "\2660";
}
.card.clubs:after{
    content: "\2663";
}

ul.table,
ul.hand,
ul.deck {
    list-style-type: none;
    padding: 0;
    margin: 0 0 1.5em 0;
    position: relative;
    clear: both;
}
ul.hand {
    margin-bottom: 1.5em;
}
ul.table li,
ul.hand li,
ul.deck li {
    display: inline;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul.hand,
ul.deck {
    height: 6.2em;
}

ul.hand li:not(:last-child) {
    margin-right: -3.3em;
}

ul.deck li:not(:last-child) {
    margin-right: -4.3em;
}