@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html,
body {
    font-family: 'Lato', sans-serif;
    font-size: calc(1.4*var(--rem));
    background-color: #00506b;
    cursor: default;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    /* touch-action: none; */
}

#content {
    width: calc(1200*var(--px) - 2*calc(1.5*var(--px)));
    height: calc(650*var(--px) - 2*calc(1.5*var(--px)));
    margin: auto;
    display: flex;
    flex-direction: column;
    border: calc(1.5*var(--px)) solid black;
}

.hidden {
    display: none !important;
    visibility: hidden !important;
    width: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
}

.clear {
    visibility: hidden;
}

.inline {
    display: inline;
}

.infoText {
    margin: calc(1.67*var(--rem)) 0;
    display: flex;
    justify-content: space-between;
}

.card {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.player {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: calc(1.5*var(--px)) solid black;
    text-shadow: calc(1*var(--px)) calc(1*var(--px)) black;
    border-radius: calc(5*var(--px));
    padding: calc(3*var(--px));
    margin-bottom: calc(10*var(--px));
    color: white;
    background-color: #7e4708;
    width: calc(91*var(--px));
}

.player span.name {
    font-size: 1em;
    font-weight: bold;
    width: 100%;
    overflow: hidden;
    text-align: center;
}

.player span.score {
    font-size: 0.8em;
}

.player span.score:before {
    content: 'Score: ';
}

.host span.name:after {
    content: '\01F451';
}

.winner span.name:after {
    content: '\01F3C6';
}

.host.winner span.name:after {
    content: '\01F451\01F3C6';
}

.turn:after {
    content: '\01F3B2';
}

.opponent {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin-top: calc(20*var(--px));
}
.opponent span.opponentName {
    font-weight: bold;
    word-break: break-word;
    word-wrap: break-word;
    text-shadow: calc(1*var(--px)) calc(1*var(--px)) black;
}
.opponent span.cardCount {
    font-size: 0.75em;
    margin-bottom: calc(5*var(--px));
    text-shadow: calc(1*var(--px)) calc(1*var(--px)) black;
}
.opponent span.cardCount:after {
    content: ' Cards';
}
.opponent span.cardCount.singular:after {
    content: ' Card';
}

.opponent[number='0'] {
    align-items: flex-start;
    margin-left: 3%;
}
.opponent[number='1'] {
    align-items: flex-end;
    margin-right: 3%;
}

.fadeCards {
    filter: brightness(75%);
}

#lobby {
    width: calc(100*var(--px));
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: calc(1.5*var(--px)) solid black;
    padding: calc(10*var(--px));
    background-color: #4c3422;
    background-color: #00000070;
}

#lobbyList,
#lobbyFunctions {
    margin: 0;
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
}

#lobbyFunctions {
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 0;
}

#lobbyFunctions input {
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.lobbyFunction {
    display: flex;
    flex-direction: column;
    border: calc(1.5*var(--px));
    border-radius: calc(10*var(--px));
    width: 100%;
    margin-top: calc(10*var(--px));
    -moz-box-shadow: calc(0.2*var(--cem)) calc(0.2*var(--cem)) calc(0.5*var(--cem)) #3339;
    -webkit-box-shadow: calc(0.2*var(--cem)) calc(0.2*var(--cem)) calc(0.5*var(--cem)) #3339;
    box-shadow: calc(0.2*var(--cem)) calc(0.2*var(--cem)) calc(0.5*var(--cem)) #3339;
}

#opponentCards {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#otherCards,
#game {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

#app {
    flex: 1;
    background-color: #96642c;
    background-image: url('background.svg');
    background-size: 150%;
    background-position: 25% 75%;
}

#app {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex: 1;
}

#lastCombo {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#myCards {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#playCards {
    width: min-content;
    margin-bottom: calc(10*var(--px));
    margin-top: calc(10*var(--px));
}

#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #009fd2;
    color: white;
    padding: calc(5*var(--px));
    text-shadow: calc(1*var(--px)) calc(1*var(--px)) black;
}

#titleText {
    flex: 1;
    padding: calc(5*var(--px));
}

#titleText div h3 {
    float: left;
    margin: auto;
    margin-left: 0;
    font-size: 1.25em;
}

#titleText div h3[contenteditable] {
    outline: 0 solid transparent;
}

#titleText div h3.editable:hover {
    outline: calc(2*var(--px)) dashed white;
    border-radius: calc(5*var(--px));
}

#joinCode {
    flex: 1;
    padding: calc(5*var(--px));
}

#joinCode div {
    float: right;
    cursor: pointer;
    margin: auto;
    font-size: 1.25em;
}

#joinCode div .joinCode {
    font-weight: bold;
}

#playerName {
    padding: calc(5*var(--px));
    cursor: pointer;
}

#playerName span {
    vertical-align: middle;
}

#playerName span[contenteditable] {
    outline: 0 solid transparent;
    border-radius: calc(5*var(--px));
}

#playerName span:hover,
#playerName span:active,
#playerName span:focus {
    outline: calc(2*var(--px)) dashed white;
}

.tooltip {
    font-size: calc(1*var(--rem));
    visibility: hidden;
    display: none;
    background-color: #4a4a4a;
    color: white;
    border-radius: calc(5*var(--px));
    padding: calc(2*var(--px)) calc(6*var(--px));
    margin: auto;
}

.tooltip:after {
    content: ' \27A4';
}

#joinCode div {
    display: flex;
    align-content: center;
}

#joinCode div:hover .tooltip {
    visibility: visible;
    display: inline;
}

#app.preGame #lobby {
    width: 100%;
    background-color: transparent;
    border-right: 0 solid transparent;
}

#app.preGame #game {
    width: 0;
    display: none;
    visibility: hidden;
}

#app.preGame #lobby #lobbyFunctions {
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    border: 0;
}

#app.preGame #lobby #lobbyFunctions .lobbyFunction {
    flex-direction: row;
    margin: 0 calc(20*var(--px));
    width: calc(100*var(--px));
}

#app.preGame #lobby #lobbyList .player {
    width: unset;
}

.button {
    font-weight: bold;
    color: white;
    padding: calc(0.5*var(--rem)) calc(0.5*var(--rem));
    background: #009fd2;
    border-radius: calc(10*var(--px));
    border: 0;
    transform-style: preserve-3d;
    transition: background 100ms cubic-bezier(0, 0, 0.58, 1);
    text-shadow: calc(1*var(--px)) calc(1*var(--px)) black;
}
.button:active {
    background: #007399;
}
.button.inputGroup {
    border-radius: calc(10*var(--px)) 0 0 calc(10*var(--px));
}
.textField.inputGroup {
    border-radius: 0 calc(10*var(--px)) calc(10*var(--px)) 0;
    border: 0;
    padding: calc(0.5*var(--rem));
}
.textField.inputGroup:focus {
    outline: 0 solid transparent;
}

#playCards {
    -moz-box-shadow: calc(0.2*var(--cem)) calc(0.2*var(--cem)) calc(0.5*var(--cem)) #3339;
    -webkit-box-shadow: calc(0.2*var(--cem)) calc(0.2*var(--cem)) calc(0.5*var(--cem)) #3339;
    box-shadow: calc(0.2*var(--cem)) calc(0.2*var(--cem)) calc(0.5*var(--cem)) #3339;
}

#app #lobby.preRoom {
    border-right: 0 solid transparent;
}

#app #lobby.preRoom #lobbyFunctions {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#app #lobby.preRoom #lobbyFunctions .lobbyFunction {
    width: calc(500*var(--px));
}
#app #lobby.preRoom #lobbyFunctions .lobbyFunction .button.inputGroup {
    width: calc(9.5*var(--rem));
    font-size: 1.25em;
}
#app #lobby.preRoom #lobbyFunctions .lobbyFunction .textField.inputGroup {
    font-size: 1.25em;
}

.modal {
    text-align: center;
    max-width: calc(500*var(--px));
    padding: calc(15*var(--px)) calc(30*var(--px));
    -webkit-border-radius: calc(8*var(--px));
    -moz-border-radius: calc(8*var(--px));
    -o-border-radius: calc(8*var(--px));
    -ms-border-radius: calc(8*var(--px));
    border-radius: calc(8*var(--px));
    -webkit-box-shadow: 0 0 calc(10*var(--px)) #000;
    -moz-box-shadow: 0 0 calc(10*var(--px)) #000;
    -o-box-shadow: 0 0 calc(10*var(--px)) #000;
    -ms-box-shadow: 0 0 calc(10*var(--px)) #000;
    box-shadow: 0 0 calc(10*var(--px)) #000;
}

.modal a.close-modal {
    top: calc(-15*var(--px));
    right: calc(-15*var(--px));
    width: calc(30*var(--px));
    height: calc(30*var(--px));
}
